#seccion-title {
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--mainColor);
    font-size: 25px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}