    * {
        color: #5c6bc0;
    }
    
    .container {
        border: 1px solid #5c6bc0;
        width: 500px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        margin-top: 50px;
        margin-left: 20px;
        padding: 10px;
        padding-top: 30px;
        border-radius: 10px;
        row-gap: 10px;
    }
    
    .option {
        text-decoration: none;
        margin-left: 10px;
        color: #5c6bc0;
    }
    
    .collapsed {
        font-weight: 500 !important;
    }
    
    .card-body {
        width: 450px;
        border-color: #98a0cc;
    }
    
    .container::before {
        position: absolute;
        content: "";
        top: -15px;
        left: 25px;
        background-color: white;
        font-size: 18px;
    }
    
    #grade-container::before {
        content: "Configuracion de las notas";
    }
    
    #teacher-container::before {
        content: "Profesores";
    }
    
    #students-container::before {
        content: "Alumnos";
    }
    
    #configuration-container::before {
        content: "Configuración";
    }
    /* ////////////////////////////////////////////// */
    
    #add-grade {
        position: relative;
        border: 1px solid #98a0cc;
        margin-top: 20px;
        padding: 10px;
        padding-top: 25px;
    }
    
    #add-grade::before {
        position: absolute;
        content: "Materias";
        background-color: white;
        top: -15px;
    }
    
    #btn-add-grade {
        width: 40px;
        font-size: 20px;
        line-height: 20px;
    }
    
    #btn-register-teacher {
        margin-top: 15px;
        width: 100%;
    }
    
    #select-teacher-grade-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    
    #teacher-grade-list {
        position: relative;
        margin-top: 30px;
        overflow-y: auto;
        height: 200px;
    }
    
    #addgrade-title {
        position: sticky !important;
        top: 0;
        left: 5px;
        z-index: 3;
        background-color: white;
        border-bottom: 1px solid #98a0cc;
    }
    
    #enable-admin-container {
        margin-top: 10px;
    }
    
    .invisible {
        display: none;
    }
    
    #std-menu {
        border: 2px solid #5c6bc0;
        padding: 5px;
        border-radius: 10px;
        background-color: #5c6bc0;
        width: 200px;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    
    #std-menu span {
        color: white;
        border: 2px solid transparent;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        border-left: 2px solid lightgray;
    }
    
    #std-menu span:hover {
        border: 2px solid white;
    }
    
    #grades-modal {
        border: 2px solid #5c6bc0;
        width: 500px;
        height: 600px;
        position: absolute;
        left: 0;
        right: 0;
        /* margin-left: auto;
        margin-right: auto; */
        top: 0;
        /* margin-top: 200px; */
        background-color: white;
        padding: 10px;
    }
    
    #grades-modal-name {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    #grades-modal-Xbutton {
        background-color: transparent;
        border: none;
        margin-left: 95%;
    }
    
    #grades-modal-table-container {
        overflow-y: visible;
        height: 500px;
        border: 1px solid black;
    }
    /* ////////////////////////////////////// */
    
    #grade {
        max-width: 140px;
        min-width: 140px;
        width: 100%;
    }
    
    #grades-modal-thead,
    #grades-modal-table {
        display: block;
    }
    
    #grades-modal-table {
        max-height: 400px;
        overflow-y: auto;
    }