#studenList-modal {
    position: fixed;
    width: 800px;
    height: 650px;
    left: 0;
    right: 0;
    margin-left: 100px;
    top: 0px;
    margin-top: 150px;
    background-color: white;
    border: 3px solid#04A340;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
}

#btn-close-modal {
    margin-left: 97%;
    border: none;
    color:#04A340;
    background-color: transparent;
    font-weight: 700;
}

#fintros-modal-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 5fr 5fr 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 30px;
}

#filtos-modal-title {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 10px;
}

#table-container {
    height: 430px;
    overflow-y: auto;
    position: relative;
}

#table-header-student-list {
    position: sticky;
    top: 0;
    background-color:#04A340;
}

#table-header-student-list tr th {
    color: white;
}

.findStudentCI{
    max-width: 100px;
    max-height: 28px;
}

.findStudentCI div{
    max-width: 90px;
    max-height: 28px;
    word-wrap: break-word;
    overflow-y: auto;
    
}
