#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.login-container {
    width: 35vw;
    max-width: 500px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid transparent;
}

.teahcer-input input:focus+label {
    color: #5c6bc0 !important;
}

.teahcer-input input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 #5c6bc0 !important
}

#student-user,
#student-password,
#teacher-user,
#teacher-password {
    width: 300px;
}

.title {
    margin-bottom: 50px;
    font-size: 26px;
    color: #5c6bc0;
}

.btn-large {
    margin-bottom: 50px;
}

.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


/* ********************************/


/* #1e88e5 */

.title-student {
    margin-bottom: 50px;
    font-size: 26px;
    color: #1e88e5
}

.student-input input:focus+label {
    color: #1e88e5 !important;
}

.student-input input:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important
}


/************************************************************/

#teacher-container:hover {
    border: 2px solid #5c6bc0;
}

#student-container:hover {
    border: 2px solid #1e88e5;
}

.login-container {
    filter: grayscale(1);
}

.login-container:hover {
    filter: grayscale(0);
}

.inactive {
    pointer-events: none;
}

.teacherBorder {
    border: 2px solid #5c6bc0;
    filter: grayscale(0);
}

.studentBorder {
    border: 2px solid #1e88e5;
    filter: grayscale(0);
}


/* //////////////////////////////////////////////////////////////// */

#svg-logo {
    z-index: 1001;
    width: 15vw;
    border: 2px solid rgb(100, 100, 202);
    border-radius: 50%;
    background-color: white;
}

#logo {
    z-index: 1000;
    width: 20vw;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.invisible {
    visibility: hidden;
}

.progress {
    background-color: #1e88e5;
}

.progress .indeterminate {
    background-color: #5c6bc0;
}

.btn-small {
    display: none;
    margin-top: 15px;
}