#name-main-container {
    width: 900px;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: -60px;
}

#lbl-input-nombre {
    margin-left: 30px;
    user-select: none;
}

#input-nombre {
    height: 50px;
    width: 390px;
    text-indent: 10px;
    font-size: 18px;
}

.arrowName {
    background-color: transparent;
    height: 50px;
    width: 30px;
    user-select: none;
}

.arrowName:hover {
    background-color: rgb(53, 53, 53);
    fill: white;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}


/***************************************************************************************************************/

#ci-container {
    margin-top: 5px;
    margin-right: -135px;
}

#input-ci {
    margin-left: auto;
    margin-right: 0px;
}


/***************************************************************************************************************************/

#photo-container {
    margin-left: -230px;
    margin-top: -30px
}

#photo {
    width: 100px;
    height: 130px;
    border: 1px solid black;
}


/********************************************************************************************************************************/

#nota-acumulada-container {
    /* position: absolute; */
    margin-top: -100px;
    margin-left: 170px;
}

#lbl-acumulado {
    font-style: oblique;
    color: gray;
}

#nota-acomulada {
    font-size: 80px;
}


/*********************************************************************************************************************/

#grade-container {
    margin-top: 40px;
    width: 400px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    row-gap: 5px;
}

.input-lapso {
    height: 100%;
    width: 70px;
    text-align: center;
    font-size: 24px;
}

.lbl-lapso {
    font-size: 30px;
    border-bottom: 1px solid gray;
    height: 60px;
}


/**********************************************************************************************************************************/

#seccion-title {
    width: 900px;
    text-align: center;
    margin-top: 30px;
}