#students-box {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 500px;
    margin-left: 20px;
    margin-top: 30px;
    color: #1e88e5;
}

#students-dropbox {
    height: 50px;
    font-size: 20px;
    color: #1e88e5;
    border: 1px solid #1e88e5;
}

#subject-box {
    width: 900px;
    margin-top: 0px;
    margin-left: 20px;
}

.th-grades {
    width: 120px;
}

table {
    font-size: 22px;
}

#title-student-name {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* margin-left: 220px; */
}

#title-student-name span {
    font-weight: 700;
    color: #1e88e5;
    font-size: 22px;
    padding: 5px;
}

#data-student-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 230px;
    margin-bottom: 30px;
}