#dataContainer {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#svg-logo {
    margin: 10px auto;
    width: 100%;
}

#logo {
    width: 300px;
    margin: 10px auto;
}

#btn-send,
label {
    margin-top: 20px;
}

#menssage {
    margin: 50px auto;
    width: 100vw;
    text-align: center;
}