#navBar-icon {
    width: 90px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    column-gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

#logo-svg {
    border: 1px solid white;
}

#title {
    color: white;
    font-size: 20px;
}

#btn-regresar {
    color: white;
    width: 20px;
    text-decoration: none;
}

#title-payment {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.invisible {
    visibility: hidden;
}
/**/

#tutor-ci-container{
    width: 350px;
    display: flex;
    align-items: flex-end;
    column-gap: 20px;

}

#main-container{
    margin-top: 20px;
    padding-left: 20px;
}
#main-container label{
    margin-top: 10px;
    color: var(--bs-secondary);
    font-size: 14px;
}
#tutor-data-container{
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}
.tutor-data{
    color: var(--bs-primary);
    font-size: 17px;
    font-weight: 500;
}
#tutor-work-container,
#tutor-info-container,
#tutor-contact-container{
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
}
#table-container{
    width: 700px;
    margin-top: 30px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    overflow-y: auto;
    height: 300px
}
#table-title{
    color: var(--bs-secondary);
}
#loadingBar{
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
}
.student{
    cursor: pointer;
}
.deb{
    background-color: darkred;
    color: white;
}
.update{
    background-color: darkgreen;
    color: white;
}

.deb:hover{
    background-color: rgb(173, 61, 61);
    color: white;
}
.update:hover{
    background-color: rgb(59, 146, 59);
    color: white;
}
#student-payment-data{
    width: 49vw;
}

#flexContainer{
    width: 100vw;
    display: flex;
}
#student-payment-data-container{
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;

}
#photo-Container{
    position: relative;
    margin-top: 10px;
    margin-right: 15px;
    width: 130px;
    height: 150px;
    border: 1px solid lightgray;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#student-photo{
    max-width: 130px;
    max-height: 150px;
}

#studen-auxData-container{
    display: flex;
    column-gap: 40px;
}
#student-payments-table-container{
    margin-top: 20px;
}
.description{
   width: 150px;
   display: flex;
   flex-direction: column;
}