#navBar-icon {
    width: 90px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    column-gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

#logo-svg {
    border: 1px solid white;
}

#title {
    color: white;
    font-size: 20px;
}

#btn-regresar {
    color: white;
    width: 20px;
    text-decoration: none;
}

#title-payment {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.invisible {
    visibility: hidden;
}
/**/
#main-container{
    margin-top: 20px;
    margin-left: 10px;
}
#aux-container{
    margin-top: 10px;
}
#studen-data-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}

#studen-data-container label{
   font-size: 14px;
   color: var(--bs-secondary);
}
.student-data{
    font-size: 18px;
    color: var(--bs-primary);
    font-weight: 500;
}
#photo-Container{
    width: 100px;
    height: 120px;
    border: 1px solid var(--bs-secondary);
    margin-right: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#paymentData-container{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

/*******************************/

#paidments-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-end;

}
.intems-cant{
    width: 70px;
}
.items-price{
    font-size: 14px;
   
}
.price-cant-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;

}
.totalPayment {
  display: flex;
  align-items: flex-end;
}
#total{
    font-size: 18px;
    color: var(--bs-primary);
}
#btn-register-payment{
    margin-top: 30px;
}