#std-perfil-close-x{
    color: #5c6bc0;
    font-weight: 700;
    margin-left: auto;
    margin-right: 1px;
    width: 20px;
    cursor: pointer;
}
#std-perfil-title{
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#std-perfil-container{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #5c6bc0;
    background-color: white;
    width: 600px;
    max-width: 600px;
    max-height: 600px;
    
}
#std-perfil-overflow{
    width: 590px;
    max-width: 590px;
    max-height: 500px;
    overflow-y: auto;
}
#std-perfil-photoContainer{
    width: 120px;
    height: 250px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#std-perfil-photo{
    width: 118px;
    height: 140px;
    border: 1px solid #5c6bc0;
}

#std-perfil-dataContainer{
    margin: 0 10px;
    display: flex;
}
#std-perfil-nameContainer{
    width: 100%;
    display: flex;
    flex-direction: column;

}

#std-perfil-tutorDataContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn-perfil{
    font-size: 12px;
    margin-top: 5px;
    background-color: #5c6bc0;
    color: white;
    border: 1px solid #5c6bc0;
}
.lbl-std-perfil{
    border-top: 1px solid gainsboro;
    margin-top: 10px;
    font-size: 14px !important;
    font-weight: 900px !important;
}
.input-std-perfil{
   font-size: 18px !important;
   
 }

.input-std-perfil:disabled{
   background-color: transparent;
   border: 2px solid transparent;
   appearance: none;
}

#std-perfil-buttons-container{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    row-gap: 10px;
}