#table-container {
    width: 55vw;
    height: 80vh;
    border-left: 1px solid black;
    overflow-y: auto;
    position: absolute;
    left: auto;
    right: 0px;
}

tr {
    cursor: pointer;
}

.selected {
    background-color: rgb(39, 37, 37);
    color: white;
    pointer-events: none;
}

#showList {
    display: none;
}


/* 
#table-notas-thead,
#studentList {
    display: block;
    width: 100%;
}

#studentList {
    overflow-y: auto;
    height: 75vh;
}
.col-num {
    max-width: 50px;
    width: 3%;
}


.col-ci {
    max-width: 100px;
    width: 13%;
}

.col-lastName,
.col-name {
    max-width: 100px;
    width: 20%;
} 

.col-notas {
    max-width: 50px;
    width: 11%;
}


*/