#table-container {
    width: 700px;
    height: 820px;
    border-left: 1px solid black;
    overflow-y: auto;
    position: absolute;
    left: auto;
    right: 0px;
}

tr {
    cursor: pointer;
}

.col-notas {
    width: 50px;
}

.selected {
    background-color: rgb(39, 37, 37);
    color: white;
    pointer-events: none;
}

#showList {
    display: none;
}