img,
label {
    user-select: none;
}

#lbl-student-name {
    color: var(--mainColor);
    margin-left: 40px;
    display: block;
}

#input-student-name {
    width: 400px;
    height: 50px;
    border: 2px solid var(--mainColor);
    outline: none;
    text-indent: 10px;
    font-size: 20px;
    color: var(--mainColor);
}

#ci {
    margin-left: auto;
    margin-top: 10px;
    margin-right: 40px;
    width: 244.1px;
}

#lbl-student-ci {
    color: var(--mainColor);
    margin-right: 20px;
}

#input-student-ci {
    width: 200px;
    height: 25px;
    border: 1px solid var(--mainColor);
    outline: none;
    text-indent: 10px;
    font-size: 20px;
    color: var(--mainColor);
}

#input-student-ci:focus {
    box-shadow: 0px 0px 3px var(--focusColor), 0px 0px 3px var(--focusColor), 0px 0px 3px var(--focusColor);
}

#input-student-name:focus {
    box-shadow: 0px 0px 3px var(--focusColor), 0px 0px 3px var(--focusColor), 0px 0px 3px var(--focusColor);
}

.arrowName {
    border: 1px solid transparent;
    height: 50px;
    width: 40px;
    margin-top: -8px;
    fill: var(--mainColor);
    cursor: pointer;
}

.arrowName:hover {
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    fill: white;
}

.arrowName:active {
    border: 1px solid var(--activeColor);
    background-color: var(--activeColor);
    fill: white;
}

#student-image {
    width: 100px;
    height: 130px;
    border: 1px solid var(--mainColor);
    padding: 5px;
    margin-left: 40px;
    margin-top: -30px;
}